/*h1{  
    font-size: 3rem;
    width: 50%;
}*/
*{
    box-sizing: border-box;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 3px solid;  
    text-align: center; 
    width: 50%; 
}
p{
    background-color: black;
    color: #ffffff;
}

ul{
    font-size: 50px;
    list-style: square;/*altera marcador dos itens listados*/
}

ol{
    font-size: 50px;
    list-style: lower-roman;/*altera marcador dos itens listados*/
    margin-left: 40px;
}
.conteudo{
    margin-left: 2rem;
}
#titulo-principal{
    margin-left: 5rem;
}
/*Explicando classes e Especificidade em grau de importância*/
/*     0   -    0  -  0  -   0
/* important    id   classe   tag
/* important 10000 -> sobrepõe as demais, utiliza em último caso 
/* id - 1000 -> sobrepõe a classe e ID, mais utilizado no HTML 
/* classe - 100 -> sobrepõe a tag
/* tag - 1

/* 1 - 0 - 0 */ /* #id */
#titulo-principal{
    color: aquamarine;
} 
/* 0 - 2 - 0 */ 
.titulo.titulo-pagina{
    color: purple;
}

/* 0 - 1 - 0 */ 
.titulo-pagina{
    border: 5px solid red;
    font-size: 5rem;
    color: red; 
    margin-left: 4rem; 
}

/* 0 - 1 - 0 */ 
.titulo{
   border-style: dashed;
   color: green; 
   margin-left: 0rem;
}

/* 0 - 0 - 1 */ 
h1{
    color: blue;
    /* 1 - 0 - 0 - 1*/ 
    /*color: blue !important;*/ 
}

.titulo-generico{
    font-size: 40px;
    color: red;
}

.container-exemplo > .titulo-generico{
    font-size: 80px;
    color: black;
}
.meu-link{
    font-size: 20px;
    text-decoration: none;
}
.meu-link:hover{
    font-size: 40px;
    text-decoration: underline;
    background-color:gray;
}
.meu-link:link{
    color: green;
}
.meu-link:visited{
    color: orange;
}
.meu-link:active{
    font-size: 60px;
    color: red;
}
.meu-link:focus{
    font-size: 90px;
    color: purple;
}
.meu-input{
    background-color: gray;
    font-size: 50px;
    color: white;
}
/*Tratando classe meu-input com atributo type"number"*/
.meu-input[type="number"]{
    font-size: 90px;
    background-color: red;
}
.meu-input:focus{
    background-color: white;
    color: black;
}

.nav-menu{
    border: 2px solid blue;
    list-style: none;
}
/*Tratando classe menu-item*/
.menu-item{
    border: 2px dashed purple; 
    background-color: gray;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 30px;
    min-width: 200px;
    text-align: center;
}
/*Tratando classe menu-item, mas somente último filho*/
.menu-item:last-child{
    margin-bottom: 0px;
}
/*Tratando classe menu-item, mas somente primeiro filho*/
.menu-item:first-child{
    color: red;
}
/*Tratando classe menu-item, mas somente terceiro filho*/
.menu-item:nth-child(3){
    background-color: green;
}
/*Tratando classe menu-item, mas do segundo filho em diante*/
.menu-item:nth-child(n + 2){
    font-weight: bold;
}
.bloco-inicial{
    font-size: 50px;
    background-color: aquamarine;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: block; /*por padrão display é block*/
    width: 600px;
}
.span-inicial{
    font-size: 40px;
    font-family: "Comic Sans MS";
    color: yellow;
    text-decoration: underline;/*sublinha o item escolhido*/
    text-transform: capitalize;/*coloca primeira letra maiúscula do item escolhido*/
    /*display: inline;/*por padrão display é inline*/
    display: inline-block;
    width: 100px;/*ignorado por elemento inline*/
    height: 50px;/*ignorado por elemento inline*/
    margin-top: 10px;/*ignorado por elemento inline*/
    margin-left: 40px;
}
.bloco-escondido{
    display: none; /*esconde o display*/
}

/*elementos que são por default inline
<span> <em> <strong> <a> */

/*Display: Block - ocupa todo espaço destinado a ele
Display: inline - ocupa somente o espaço utilizado
Display: inline-block - é como inline, mas respeita as medidas width e height 
Display: none - esconde o display */

.box{
    width: 100px;
    /*height: 100px;*/
    background-color: blue;
    color: white;
    display: block;
    /*border:10px solid green;*/
    /*padding: 20px 30px;*/
    /*padding-top: 40px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 20px;*/

    /*padding-top: 10px 20px 30px 40px;*/
     padding-top: 10px;
     padding-right: 20px;
     padding-bottom: 30px;
     padding-left: 40px;
    
   
    
    margin: 10px;
    border-top: 10px solid green;
    border-bottom: 5px dashed green;
    
}